// styles/_layout.scss
@use '_variables' as v; // Importante para leer colores
@use '_mixins' as m;    // Importante para usar mixins

body {
  background-color: v.$color-bg;
  font-family: v.$font-stack;
  color: v.$color-text;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: v.$color-secondary;
  color: v.$color-white;
  padding: v.$spacing-unit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: v.$color-white;
    text-decoration: none;
    font-size: 0.9rem;
    
    &:hover {
      text-decoration: underline;
    }
  }
}