// Mixin para centrar cosas (Flexbox)
@mixin centrar-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Mixin para estilo de botones
@mixin estilo-boton($fondo, $texto) {
    background-color: $fondo;
    color: $texto;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    
    &:hover {
        opacity: 0.9; // Al pasar el ratón se aclara un poco
    }
}