// styles/_pages.scss
@use '_mixins' as m;

.page-login {
  // Usamos el mixin para centrar el formulario en toda la pantalla
  @include m.flex-center; 
  flex-grow: 1; // Ocupa el espacio restante
  padding: 2rem;
}