// styles/main.scss

// 1. Variables y Herramientas (Primero siempre)
@use 'variables';
@use 'mixins';

// 2. Estructura base
@use 'layout';

// 3. Piezas de la web (Tarjetas, formularios...)
@use 'components';

// 4. Diseños de páginas específicas (Mapa, Login...)
@use 'pages';